<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    
    <%- include("../partials/header.ejs") %>
    
    <main>
        <div>
            <form>
                <fieldset>
                    <legend>Create a new Fruit</legend>
                <label>Name:<input/></label>
                <label>Color:<input/></label>
                <label>Ready To Eat:<input/></label>
            </fieldset>
            <button>Create New Fruit</button>
            </form>
        </div>
    </main>
    
</body>
</html>